#login {
  width: 100%;
  height: 100%;
}
.center {
  width: 25%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add_margin {
  height: auto;
}

.login {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  text-align: initial;
  border-radius: 4px;
  /* margin-top: 100px; */
}

.login_form {
  background: #fff;
  border-radius: 5px;
  padding: 50px 30px;
}
.login_form input {
  height: 25px;
  width: 100%;
  background: #fff;
  border: 2px solid #c6c6c6;
  border-radius: 5px;
  margin-bottom: 8%;
}

.signin {
  font-family: sans-serif;
  text-transform: uppercase;
  color: #fff;
  background: #1dd1a1;
  height: 50px;
  width: 100%;
  font-size: 15px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
  margin-top: 5%;
}

label {
  width: 100%;
  color: #8d8d8d;
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
}

p {
  text-align: center;
  color: #8d8d8d;
  font-size: 15px;
  font-family: sans-serif;
}

.paragraph_register {
  text-decoration: none;
  color: #8d8d8d;
}
