html,
body {
  width: 100%;
  height: 100%;
  background: #e5edf5;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

/* New product */

/* Products */

.buttons_rows {
  margin-top: -5px;
  color: #575757;
}

/* EXPENSES */
