.expenses_top {
  width: 100%;
}

.filter_months {
  padding-top: 5px;
  padding-left: 20px;
  float: left;
}

.buttons_expenses {
  margin-left: 7%;
  display: inline;
  float: left;
}

.monthly1 {
  background: #1dd1a1;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
  border-radius: 5px;
  width: 150px;
}

.yearly1 {
  background: #c9e5dd;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
  border-radius: 5px;
  width: 150px;
  margin-left: -5px;
}

.buttons_filter {
  width: 80%;
  height: 6%;
  padding: 1%;
  margin: auto;
  float: left;
}

.total_bottom {
  width: 100%;
  background: #8d8d8d;
  color: #fff;
  bottom: 0;
  position: fixed;
}

.total_bottom p {
  font-size: 22px;
  text-align: right;
  justify-content: center;
  vertical-align: center;
  color: #fff;
}

.paragraph_filter{
  padding-top: 5px;
    padding-left: 20px;
    float: left;
}

.select_products{
  height: 35px;
    Background: #fff;
    Border: 2px solid;
    Border-color: #C6C6C6;
    color: #C6C6C6;
    border-radius: 5px 5px 5px 5px;
    Box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.17);
    width: 160px;
    float: left;
    cursor: pointer;
    margin-left: 160px;
    margin-top: -40px;
    font-family: 'Roboto', sans-serif;
    vertical-align: center;
    padding-top: 5px;
    padding-left: 20px;
    float: right;
}

.total_text{
  margin-right: 10%;
}